*
!website/
!website/**
website/runs/
!website_launcher.py
!install_dependencies.sh
!raisd-ai.yml
!simulator.py
!1.train.py
!2.annotation.py
!3.sfs.py
!4.final_check.py
!run.sh
!.gitignore
!README.md
!ui_simulator/
!ui_simulator/**
ui_simulator/artifacts/
